
@import './pages/home';
@import './fonts';
@import './components/header';
@import './pages/contact';
@import './pages/commission';
@import './pages/portfolio.scss';

html, body, #root, .route-wrapper, .route-wrapper > div {
	height: 100%;
}

body {
	font-family: 'BalsamiqSans';
}

.route-wrapper {
	position: relative;
  }
  
  %transitionHelper {
	position: fixed;
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow-y: auto;
  }
  
  .route-wrapper > div {
	@extend %transitionHelper;
  }